@model IEnumerable<Project2_Dimention_Data.Models.Entities.Login>
@inject Project2_Dimention_Data.Services.Authenticate AuthenticationService

@{
    ViewData["Title"] = "Index";
}

@{
    var authInfo = AuthenticationService.ScopeAuthInfo;
}
<div class="container">
<h1>Admin</h1>

<p>
    <a class="link text-dark" asp-action="Create">Create New</a>
</p>
<table class="table  .table-striped .table-xl">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurnameUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpNumNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.EmpNum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NameUser)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SurnameUser)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserEmail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserRole)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmpNumNavigation.EmpNumber)
    </td>
    <td>
        @if (authInfo.EmpNum == 4)
        {<a class="link text-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>} |
        <a class="link text-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a class="link text-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
    </div>
