@model IEnumerable<Project2_Dimention_Data.Models.Entities.ManagerRating>
@inject Project2_Dimention_Data.Services.Authenticate AuthenticationService

@{
    ViewData["Title"] = "Index";
}

@{
    var authInfo = AuthenticationService.ScopeAuthInfo;
}
<div class="container">
<h1>Manager Ratings</h1>

<p>
    <a class="link text-dark" asp-action="Create">Create New</a>
</p>
<table class="table  .table-striped .table-xl">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingTimesLastYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpNumberNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (authInfo.JobRole == "Manager" || authInfo.JobRole == "Admin")
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerformanceRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingTimesLastYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpNumberNavigation.EmpNumber)
                    </td>
                    <td>
                        <a class="link text-dark" asp-action="Edit" asp-route-id="@item.RatingId">Edit</a> |
                        <a class="link text-dark" asp-action="Details" asp-route-id="@item.RatingId">Details</a> |
                        <a class="link text-dark" asp-action="Delete" asp-route-id="@item.RatingId">Delete</a>
                    </td>
                </tr>
            }
            @if (authInfo.UserRole == "User" && authInfo.EmpNum == item.EmpNumber)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerformanceRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingTimesLastYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpNumberNavigation.EmpNumber)
                    </td>
                    <td>
                        <a class="link text-dark" asp-action="Details" asp-route-id="@item.RatingId">Details</a> |
                    </td>
                </tr>

            }
        }

    </tbody>
</table>
    </div>
